#title-name-col a{
	color:#ff0000;
}
#body_nav_left {
	height: 600px;
	margin-top: 50px;
}

#body_Lhd {
	height: 50px;
	background: #B22222;
	color: white;
	border-radius: 5%;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

#body_Lbd {
	border: 10px solid gainsboro;
	border-radius: 3%;
}

.v {
	float: right;
	width: 14px;
	height: 14px;
	overflow: hidden;
	display: inline-block;
	margin-top: -5px;
	margin-bottom: -5px;
}

.v01 {
	background-position: 0 0;
}

.v02 {
	background-position: 0 -16px;
	;
}

.vtitle {
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	background: #c4c4c4;
	color: #ffffff;
	cursor: pointer;
}

#vtitles {
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	background: #c4c4c4;
	color: #ffffff;
}

.vconlist {
	background: rgba(178, 167, 179, 0.25);
}

.vconlist li a {
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	display: block;
	font-size: 14px;
	color: #8a8a8a;
}

.vconlist li.select a,.vconlist li a:hover {
	color: #e9413b;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

#description {
	margin: 0px auto;
	width: 500px;
	font-size: 14px;
}

#softwhy a {
	text-decoration: underline;
	color: red;
}

#body_lfd {
	border: 10px solid gainsboro;
	border-radius: 6%;
	height: 130px;
}

#body_lfd div {
	height: 33%;
	border: 1px solid gainsboro;
	font-size: 17px;
	font-weight: bold;
}

#body_lfd img {
	height: 30px;
}
