		 #box #tjbInfo {
            padding: 0px 10px;
            border: 1px solid gray;
        }

        #box #tjbInfo legend {
            font-weight: bold;
            color: #426cff;
            font-size: 14px;
        }

        #box #tjbInfo form {
        	
            font-size: 14px;
           margin-left: auto;
           margin-right: auto;
            width: 50%;
        }
        #btn_queren {
        	text-align: center;
        	
        	color: blue;
        	
        }
        #btn_queren button{
        	
        	background-color: white;
        }
        
         #title-name-col {
            width: 95%;
            height: 120px;
            border: 1px solid #bcbcbc;
            margin: 0 auto;
            margin-top: 20px;
            background-color: white;
        }
        #title-col-md {
            width: 100%;
            height: 30px;
            border: 1px solid #bcbcbc;
            border-radius: 5px;
            background-color: red;
            color: white;
            font-size: 18px;
            padding-top: 2px;
            padding-left: 20px;
        }
         .box-app-col {
            width: 95%;
            height: 25px;
            border: 1px solid #A1CBF9;
            margin: 0 auto;
            margin-top: 8px;
            background: -webkit-linear-gradient(
                    top, #a6d0ff,white
            );
        }
        .box-pol-col {
            width: 95%;
            height: 25px;
            border: 1px solid #A1CBF9;
            margin: 0 auto;
            margin-top: 2px;
            background: -webkit-linear-gradient(
                    top, #a6d0ff,white
            );
        }
        
         #question-col-mm {
            width: 95%;
            height: 40px;
            border: 1px solid #bcbcbc;
            margin: 0 auto;
            margin-top: 40px;
            background-color: #f7f7f7;
        }
        
        .country-col-mm {
            width: 95%;
            height: 40px;
            border: 1px solid #bcbcbc;
            margin: 0 auto;
            margin-top: 5px;
            background-color: #f7f7f7;
        }

        .question-img {
            display: inline-block;
            padding-top: 4px;
            margin-left: 7px;
        }

        .question-text {
            font-size: 13px;
            font-weight: bolder;
            margin-left: 10px;
            display: inline-block;
            margin-top: 7px;
        }

        .country-text {
            font-size: 13px;
            font-weight: bolder;
            margin-left: 10px;
            display: inline-block;
            margin-top: 7px;
            color: #b90000;
        }