<?xml version="1.0" encoding="UTF-8" ?>
<!-- By罗皖西 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangcco.mapper.insure.CommonMapper">
    <!--查询所有大类型-->
    <select id="selectBigType" resultType="BigType">
        select * from big_type
    </select>
    <!--查询所有小类型-->
    <select id="selectSmallType" resultType="SmallType">
        select * from small_type
    </select>
    <!--查询大类型对应的小类型信息-->
    <select id="selectSmallTypeByBigType" resultType="SmallType">
        select * from small_type where bid=#{bid}
    </select>
    <!-- 查询所有条款分类 -->
    <select id="selectClauseTypes" resultType="ClauseType">
    	select * from clause_type 
    </select>
    <!-- 根据条款分类查询主线条款 -->
    <select id="selectZhuXianByClauseType" resultType="ZhuXian">
    	select * from  zhu_xian where aId = #{aId}
    </select>
     <!-- 根据主线id查询附加险条款 -->
     <select id="selectFuXianByZhuXian" resultType="FuXian">
    	select * from fu_xian where zId = #{zId}
    </select>
</mapper>